@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}
/*header*/
header{
    height: 12vh;
    background-color: #0aa044;
    box-shadow: 0 .1rem .5rem #ccc;
    min-height: 50px;
}
a{
    color: #fff;   
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;      
}
.img-logo{  
   height: 12vh;
   padding: 3px;
   border-radius: 50%;
   min-height: 50px;
}
.nav-menu{
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-link{
    transition: 0,5s ease;
}
.nav-link:hover{
    color: #ccc;
}
.burger{
    display: none;
    cursor: pointer;;
}
.bar{
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

/* main */
main{
    height: 100vh;
    background-color: #0aa044;
    box-shadow: 0 .1 .5 #ccc;
    
}
.section-1{
    background-color: #0aa044;
    margin: 0 0 0 0;
    height: 100%;
    
}
.carrossel-1{
    display: flex;
    height: 33%;
    width: 100%;
    background-color: #fff;    
}
.cards{
    height: 33%;
    background-color: #0aa044;
}
.carrossel-2{
    height: 33%;
    background-color: #fff;
    margin-top: 5px;
}

/*footer*/
footer{
    display: block;
    padding: 25px;
    align-items: center;
    justify-content: center;
    height: 15vh;
    color: #fff;
    background-color: #0aa044;
    text-align: center;
}

/* mediaquery */
@media (max-width: 800px){
    .burger{
        display: block;
        padding-right: 10px;
    }
    .burger.active .bar:nth-child(2){
        opacity: 0;
    }
    .burger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(135deg);
    }
    .burger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-135deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 12vh;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #0aa044 ;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;  
    }
    .nav-menu.active{
        left: 0;
    }
}